.parent {
  background-color: #fff;
  width: 25%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  border-radius: 10px;
  border: 1px solid rgb(231, 222, 222);
}
.parent svg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.parent h4{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.parent input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  border: none;
  color: rgb(154, 147, 147);
}
.parent input:focus {
  outline: none;
  box-shadow: none;
}
.parent button {
  width: 90%;
  padding: 15px;
  border: none;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background: #55a3f0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.parent p{
    font-size: 12px;
    font-weight: 200;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    color: #55a3f0;
}
