.parent {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.326);
  backdrop-filter: blur(3px);
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #fff;
  width: 25%;
  border-radius: 10px;
}
.parent h4 {
  text-align: center;
  margin-top: 20px;
}

.design {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.design label {
  font-weight: 200;
  font-size: 13px;
  padding-right: 20px;
}
.design input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  border: none;
  color: rgb(154, 147, 147);
  font-weight: 200;
}
.design input:focus {
  outline: none;
  box-shadow: none;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.buttons button {
  width: 35%;
  padding: 5px;
  border: none;
  margin-bottom: 40px;
  border-radius: 10px;
  cursor: pointer;
}
